Este é o notebook para usar de modelo para o trabalho. Cada dupla deverá criar um novo notebook para realizar seu trabalho. Esse procedimento só deverá ser feito uma vez:

- Abrir o Colab em outra aba
- Criar 'a new python 3 notebook' 
- Alterar o nome do novo notebook para 'trabalho-programacao-nomes'
- Compartilhar comigo (só uma vez!) em Share: digitar meu e-mail (siqueirapaty@gmail.com)
- Se desejar copiar células deste notebook basta selecionar com o mouse e usar CTRL+C e CTRL+V

# Trabalho de Fundamentos da Programação (2019-1)

**Parte 1**

Nome:

In [0]:
# importar o pacote pandas - útil para dataframes, séries, dados em painel
import pandas as pd
# para trabalhar com arquivos excel
# !pip install xlrd

In [0]:
# ler dados
dados = pd.read_csv('https://raw.githubusercontent.com/patriciasiqueira/patriciasiqueira.github.io/master/arquivos/imrs-prod-mg.csv', encoding='latin1')

In [47]:
# ver as variáveis contidas no dataframe
dados.columns

Index(['ibge7', 'mun', 'nome_meso', 'tot_f_meio_sm', 'tot_f_rdpc_154',
       'n_f_PBF', 'tot_benf_PBF', 'ex_cinema', 'ex_bib', 'n_bib',
       'tx_criancas_EF_adeq', 'tx_adol_EM_adeq', 'tx_EJA_EF_15m',
       'tx_EJA_EM_18m', 'tx_esc_0_3', 'tx_esc_15_17', 'n_esp_mun', 'popul',
       'percent_5', 'percent_6_17', 'percent_65', 'transf_pc_PBF',
       'n_emp_formal', 'rdpc_formal', 'tx_mort', 'tx_mort_homicidio',
       'tx_mort_homicidio_15_29', 'prop_priv_saude', 'percent_esgoto',
       'percent_lixo', 'area', 'algodao_arb', 'algodao_herb', 'banana',
       'batata', 'cafe_arab', 'cana', 'feijao', 'laranja', 'limao', 'manga',
       'milho', 'soja', 'sorgo', 'tangerina', 'tomate', 'trigo', 'leite',
       'ovos', 'mel'],
      dtype='object')

In [48]:
# função que mostra as 5 primeiras observações do dataframe
dados.head()

,ibge7,mun,nome_meso,tot_f_meio_sm,tot_f_rdpc_154,n_f_PBF,tot_benf_PBF,ex_cinema,ex_bib,n_bib,...,manga,milho,soja,sorgo,tangerina,tomate,trigo,leite,ovos,mel
0,3100104,Abadia dos Dourados,Triângulo Mineiro/Alto Paranaíba,685,413,366,22.26,Não,Sim,2,...,0,8028,11685,1212,0,100,0,43745,128,0
1,3100203,Abaeté,Central Mineira,2259,812,796,42.99,Não,Sim,1,...,15,4680,1404,0,0,0,0,50383,218,1550
2,3100302,Abre Campo,Zona da Mata,1896,1412,1254,29.26,Não,Sim,1,...,0,780,0,0,0,0,0,7100,103,1074
3,3100401,Acaiaca,Zona da Mata,796,674,615,11.53,Não,Sim,1,...,0,202,0,0,0,0,0,1385,23,2500
4,3100500,Açucena,Vale do Rio Doce,1691,1074,952,24.26,Não,Sim,1,...,0,942,0,0,0,0,0,9061,57,266

In [49]:
# retorna a dimensão do dataframe (linhas e colunas)
dados.shape

(853, 50)

In [50]:
# retorna o número de linhas
len(dados)

853

Para exemplificar o uso de uma estrutura de repetição (*for*) e uma estrutura condicional (*if*) fiz a seguinte pergunta:

Quais os municípios de MG produziram mais de 10.000 toneladas de café arábica em 2017?

**Exemplo de uso de for:**

In [51]:
# percorrer cada linha do dataframe e verificar se o valor da variável é
# maior do que um valor pré-definido
for i in range(len(dados)):
    if dados['cafe_arab'][i] > 10000:
        print(dados['mun'][i], dados['cafe_arab'][i])

Alfenas 14566
Araguari 27550
Boa Esperança 26570
Botelhos 11850
Cabo Verde 14620
Campestre 21060
Campos Altos 14540
Campos Gerais 28085
Caratinga 13460
Carmo da Cachoeira 17400
Carmo do Paranaíba 16470
Carmo do Rio Claro 16745
Conceição da Aparecida 15930
Coromandel 10630
Elói Mendes 10980
Espera Feliz 11880
Guapé 12672
Ibiraci 18050
Itamogi 11360
Machado 27600
Manhuaçu 26274
Monte Carmelo 22430
Monte Santo de Minas 10690
Muzambinho 11000
Nepomuceno 15690
Nova Resende 23550
Patos de Minas 10320
Patrocínio 56115
Perdizes 13000
Piumhi 14500
Rio Paranaíba 16320
Santa Margarida 11760
São Sebastião do Paraíso 20320
São Tomás de Aquino 10400
Serra do Salitre 15040
Simonésia 12720
Três Corações 14700
Três Pontas 26950
Unaí 11232
Varginha 15740

Note que bastaria trocar a variável (escolher outra no lugar de *cafe_arab*) e o valor de referência (10.000) para fazer outra consulta.


**Muito importante:** essa modificação **NÃO CONTA** como um uso diferente para o *for* e para o *if*, já que nada de novo está sendo feito no código.

In [52]:
# usando a mesma estrutura acima para responder quais os municípios de MG 
# possuem mais do que três bibliotecas
# mostrar o nome do município e o valor de n_bib
for i in range(len(dados)):
    if dados['n_bib'][i] > 3:
        print(dados['mun'][i], dados['n_bib'][i])

Belo Horizonte 21
Betim 4
Campo Belo 6
Poços de Caldas 4

Se fôssemos usar uma função pronta do pacote *pandas* (o que não é nosso foco na disciplina), bastaria fazer o seguinte (porém ele retornaria um *dataframe* inteiro com as linhas selecionadas (n_bib > 3)):

In [53]:
# função pronta do pandas
dados[dados['n_bib'] > 3]

,ibge7,mun,nome_meso,tot_f_meio_sm,tot_f_rdpc_154,n_f_PBF,tot_benf_PBF,ex_cinema,ex_bib,n_bib,...,manga,milho,soja,sorgo,tangerina,tomate,trigo,leite,ovos,mel
65,3106200,Belo Horizonte,Metropolitana de Belo Horizonte,119871,71184,60908,16.74,Sim,Sim,21,...,0,0,0,0,0,0,0,735,3,0
71,3106705,Betim,Metropolitana de Belo Horizonte,35341,21948,18219,14.30,Sim,Sim,4,...,0,115,0,0,0,150,0,1545,34,2490
121,3111200,Campo Belo,Oeste de Minas,5707,2880,2618,17.08,Não,Sim,6,...,0,15000,0,0,60,1320,0,11837,2000,2440
604,3151800,Poços de Caldas,Sul/Sudoeste de Minas,8681,3171,3354,19.09,Sim,Sim,4,...,0,6480,260,0,53,189,0,7683,36,2155

**Exemplo de uso de for com interação com usuário:**

In [54]:
# interação com o usuário
valor = float(input('Acima de qual valor de produtividade de café você deseja visualizar os municípios de MG? '))
for i in range(len(dados)):
    if dados['cafe_arab'][i] > valor:
        print(dados['mun'][i], dados['cafe_arab'][i])

Acima de qual valor de produtividade de café você deseja visualizar os municípios de MG? 200000

A função *describe* fornece um resumo estatístico da variável, o que pode ajudar em alguns cálculos:

In [55]:
# função pronta do pandas
# como é a variável rdpc_formal, por exemplo? Seu resumo estatístico é dado por:
dados['rdpc_formal'].describe()

count     853.000000
mean      224.721923
std       229.002939
min        21.400000
25%       104.560000
50%       169.790000
75%       262.320000
max      3296.670000
Name: rdpc_formal, dtype: float64

In [56]:
# mais interações com o usuário
print('Insira a variável e qual o valor a partir do qual deseja ver os municípios que atendem ao critério:')
var = input('variável: ')
valor = float(input('valor: '))

# como seria o código para retornar os municípios que têm valores acima do escolhido?
for i in range(len(dados)):
    if dados[var][i] > valor:
        print(dados['mun'][i], dados[var][i])

Insira a variável e qual o valor a partir do qual deseja ver os municípios que atendem ao critério:
variável: popul
valor: 500000
Belo Horizonte 2513451
Contagem 653800
Juiz de Fora 559636
Uberlândia 669672

In [0]:
# como seria o código para somar os valores de uma variável?

In [57]:
# conferir com a função pronta do pandas
dados[var].sum()

20997560

In [58]:
# maior valor de uma variável
dados['n_bib'].max()

21

In [60]:
# usando função pronta do pandas
# que retorna os maiores valores de uma variável
# eu escolhi mostrar 10 valores, mas poderiam ser quantos eu quisesse
# se eu quisesse os menores valores, trocar ascending=True
dados.sort_values(by='n_bib', ascending=False).loc[:,['mun', 'nome_meso', 'n_bib']].head(10)

                    mun                        nome_meso  n_bib
65       Belo Horizonte  Metropolitana de Belo Horizonte     21
121          Campo Belo                   Oeste de Minas      6
604     Poços de Caldas            Sul/Sudoeste de Minas      4
71                Betim  Metropolitana de Belo Horizonte      4
439          Leopoldina                     Zona da Mata      3
636  Ribeirão das Neves  Metropolitana de Belo Horizonte      3
425      Lagoa da Prata                  Central Mineira      3
290             Formiga                   Oeste de Minas      3
72          Bias Fortes                     Zona da Mata      2
54               Baldim  Metropolitana de Belo Horizonte      2

**Exemplo de uso de while:**

In [61]:
# uso de while
# ir retornando um resultado enquanto uma condição for verdadeira
var = input('Escolha uma variável: ')
entrada = input('Tecle "c" para continuar e "p" para parar: ')
i = 0
while entrada == 'c':
    print(dados['mun'][i], dados[var][i])
    i = i + 1
    entrada = input('Tecle "c" para continuar e "p" para parar: ')

Escolha uma variável: popul
Tecle "c" para continuar e "p" para parar: c
Abadia dos Dourados 7037
Tecle "c" para continuar e "p" para parar: c
Abaeté 23574
Tecle "c" para continuar e "p" para parar: c
Abre Campo 13726
Tecle "c" para continuar e "p" para parar: p

## Selecionar municípios de MG (por mesorregião ou microrregião)

In [62]:
# para saber como estão os nomes das mesorregiões
dados['nome_meso'].unique()

array(['Triângulo Mineiro/Alto Paranaíba', 'Central Mineira',
       'Zona da Mata', 'Vale do Rio Doce', 'Oeste de Minas',
       'Vale do Mucuri', 'Norte de Minas', 'Sul/Sudoeste de Minas',
       'Campo das Vertentes', 'Jequitinhonha',
       'Metropolitana de Belo Horizonte', 'Noroeste de Minas'],
      dtype=object)

In [0]:
# criar um objeto sul com os municípios apenas do Sul/Sudoeste de MG
meso = dados.query("nome_meso == 'Sul/Sudoeste de Minas'")

In [64]:
# número de linhas e colunas
meso.shape

(146, 50)

In [65]:
# mostrar 5 primeiras linhas
# notar que os índices começam em 11
meso.head()

,ibge7,mun,nome_meso,tot_f_meio_sm,tot_f_rdpc_154,n_f_PBF,tot_benf_PBF,ex_cinema,ex_bib,n_bib,...,manga,milho,soja,sorgo,tangerina,tomate,trigo,leite,ovos,mel
11,3101201,Aiuruoca,Sul/Sudoeste de Minas,462,293,286,53.80,Não,Sim,1,...,0,5848,416,0,0,0,0,27169,39,6400
12,3101300,Alagoa,Sul/Sudoeste de Minas,346,258,234,17.81,Não,Sim,1,...,0,20,0,0,0,0,0,10386,14,1940
13,3101409,Albertina,Sul/Sudoeste de Minas,168,100,74,8.55,Não,Sim,1,...,0,91,0,0,0,0,0,280,4,0
15,3101607,Alfenas,Sul/Sudoeste de Minas,5043,2241,2441,26.62,Sim,Sim,1,...,0,55800,16854,0,300,1750,0,15010,88,210
19,3101904,Alpinópolis,Sul/Sudoeste de Minas,2376,1059,921,23.09,Não,Sim,1,...,0,13000,8428,1060,0,60,0,44480,44,12380

In [66]:
# fazer com que os índices comecem em 0
meso.index = range(len(meso))
meso.head()

,ibge7,mun,nome_meso,tot_f_meio_sm,tot_f_rdpc_154,n_f_PBF,tot_benf_PBF,ex_cinema,ex_bib,n_bib,...,manga,milho,soja,sorgo,tangerina,tomate,trigo,leite,ovos,mel
0,3101201,Aiuruoca,Sul/Sudoeste de Minas,462,293,286,53.80,Não,Sim,1,...,0,5848,416,0,0,0,0,27169,39,6400
1,3101300,Alagoa,Sul/Sudoeste de Minas,346,258,234,17.81,Não,Sim,1,...,0,20,0,0,0,0,0,10386,14,1940
2,3101409,Albertina,Sul/Sudoeste de Minas,168,100,74,8.55,Não,Sim,1,...,0,91,0,0,0,0,0,280,4,0
3,3101607,Alfenas,Sul/Sudoeste de Minas,5043,2241,2441,26.62,Sim,Sim,1,...,0,55800,16854,0,300,1750,0,15010,88,210
4,3101904,Alpinópolis,Sul/Sudoeste de Minas,2376,1059,921,23.09,Não,Sim,1,...,0,13000,8428,1060,0,60,0,44480,44,12380

'meso' é um novo *dataframe* que podemos usar da mesma forma que usamos o 'dados':

**Mesmo exemplo do 'for', mas com os municípios de MG:**

In [68]:
# percorrer cada linha do dataframe e verificar se o valor da variável é
# maior do que um valor pré-definido
for i in range(len(meso)):
    if meso['cafe_arab'][i] > 10000:
        print(meso['mun'][i], meso['cafe_arab'][i])

Alfenas 14566
Boa Esperança 26570
Botelhos 11850
Cabo Verde 14620
Campestre 21060
Campos Gerais 28085
Carmo da Cachoeira 17400
Carmo do Rio Claro 16745
Conceição da Aparecida 15930
Elói Mendes 10980
Guapé 12672
Ibiraci 18050
Itamogi 11360
Machado 27600
Monte Santo de Minas 10690
Muzambinho 11000
Nova Resende 23550
São Sebastião do Paraíso 20320
São Tomás de Aquino 10400
Três Corações 14700
Três Pontas 26950
Varginha 15740

## Usuário escolhe mesorregião

In [36]:
nome = input('Escolha uma mesorregião: ')
m = dados.query("nome_meso == @nome")

Escolha uma mesorregião: Jequititinhonha

In [0]:
# fazer com que os índices comecem em 0
m.index = range(len(m))

In [0]:
# municípios com valores maiores do que o valor
for i in range(len(m)):
    if m['cafe_arab'][i] > 10000:
        print(m['mun'][i], m['cafe_arab'][i])

## Sugestões para o trabalho
- não vale usar os códigos que passei como exemplo e simplesmente mudar para outra variável ou município, novos códigos devem ser pensados
- escolher mesorregiões de MG
- usar mais de uma variável ao mesmo tempo
- retornar maior e menor valor de alguma variável
- calcular medidas estatísticas (média, desvio padrão, correlação etc.)
- calcular porcentagens

### Importante:

- não é necessário que o trabalho seja em torno de um tema (demografia, saúde etc.), as funções e códigos podem misturar assuntos sem problema algum (funções que retornam informações de renda, outras funções que retornem informações sobre saúde etc.). Mas quem quiser trabalhar com um tema fique à vontade  
- gráficos podem ser utilizados para ilustrar resultados (basta correr atrás da documentação de pacotes do *Python*, como *seaborn*, *matplotlib* etc. ou o site *stackoverflow*)  
- o importante é utilizar o que vimos na disciplina, evitando usar funções prontas do *Python* e tentando criar seus próprios códigos